#green-glow {
    -fx-background-radius: 50%;
    -fx-background-color: radial-gradient(center 70% 40%, radius 160%, derive(#4d9900, 50%), derive(#4d9900, -50%), black);
}

#red-glow {
    -fx-background-radius: 50%;
    -fx-background-color: radial-gradient(center 70% 40%, radius 160%, derive(#f71111, 50%), derive(#f71111, -50%), black);
}

#yellow-glow {
    -fx-background-radius: 50%;
    -fx-background-color: radial-gradient(center 70% 40%, radius 160%, derive(#ffd400, 50%), derive(#ffd400, -50%), #ff0c00);
}